:root {
    --main-a-hover-colour: #93bbd6;
    --main-bg-colour: #030303;
    --main-text-colour: #d7dadc;
    --component-bg-colour: #1a1a1b;
    --component-bd-colour: #343536;
    --main-icon-colour: #d7dadc;
    --main-button-colour: #d7dadc;
    --secondary-icon-colour: #6f7072;
    --post-detail-colour: #6f7072;
    --post-votebar-bg-colour: #161617;
    --main-field-bg-colour: #272729;
    --outline-hover-colour: #d7dadc;
    --border-hover-colour: #7c7f82;
    --dark-logo-icon-bg-colour: #818384;
    --notreddit-orange: #ff4500;
    --upvote-hover-colour: #ff4500;
    --downvote-hover-colour: #4348c8;
}

@font-face {
    font-family: 'noto_sansregular';
    src: url('/src/fonts/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .2s ease;
}

a:hover {
    color: var(--main-a-hover-colour);
}

html, body {
    background: var(--main-bg-colour);
    color: var(--main-text-colour);
    font-family: noto_sansregular, Arial, sans-serif;
}

@media (max-width: 555px) {
    #metrics_wrapper {
        display: none;
    }
}

#top_navbar_logo {
    display: flex;
    align-items: center;
}

#logo_icon {
    height: 32px;
    padding: 8px 8px 8px 0;
    width: 32px;
    transform: scaleY(-1);
    cursor: pointer;
}

#logo_notreddit {
    height: 18px;
    margin-right: 20px;
    width: auto;
    transform: scaleX(-1);
    cursor: pointer;
}

#top_navbar_wrapper {
    background: var(--component-bg-colour);
    border-bottom: 1px solid var(--component-bd-colour);
    height: 48px;
    position: fixed;
    width: 100%;
}

#top_navbar_inner {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1.25rem;
}

#main_content_wrapper {
    padding-top: 48px
}

#top_navbar_iconbar_inner {
    display: flex;
    align-items: center;
}

.top_navbar_iconbar_link {
    color: var(--main-icon-colour);
    text-decoration: none;
    transition: color .2s ease;
}

.top_navbar_iconbar_icon {
    font-size: 1.2rem;
}

.top_navbar_iconbar_icon:not(:last-of-type) {
    padding-right: 1rem;
}

#top_navbar_iconbar_wrapper {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
}

#top_navbar_search_wrapper {
    width: 100%;
    min-width: 40%;
    height: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
}

#top_navbar_search_inner {
    cursor: pointer;
    border-radius: 4px;
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--main-text-colour);
    background: var(--main-field-bg-colour);
    border: 1px solid var(--component-bd-colour);
    outline: 1px solid transparent;
    transition: outline .2s ease
}

#top_navbar_community_select:hover,
#top_navbar_search_inner:hover {
    outline: 1px solid var(--border-hover-colour);
}

#top_navbar_search {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: var(--main-text-colour);
}

#top_navbar_search_icon {
    padding: 0 .7rem;
}

#top_navbar_community_select_wrapper {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    min-width: fit-content;
}

#top_navbar_community_select_inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#top_navbar_community_select {
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    color: var(--main-text-colour);
    background: var(--main-field-bg-colour);
    border: 1px solid var(--component-bd-colour);
    padding: 0 .3rem;
    outline: 1px solid transparent;
    transition: outline .2s ease
}

#post_list_wrapper {
    min-width: 365px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#post_list_inner {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    font-size: .8rem;
    padding: .3rem .5rem;
    flex-grow: 1;
}

.post_header {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    padding-bottom: .5rem;
}

.post_header_detail_wrapper {
    display: flex;
    align-items: center;
}

.post_header_detail_inner {
    color: var(--post-detail-colour);
    display: flex;
    align-items: center;
}

.post_header_title_wrapper {
    margin: .4rem 0;
    font-size: 1rem;
    font-weight: 600
}

.bullet_point {
    height: .25rem;
    width: .25rem;
    border-radius: 50%;
    background: var(--post-detail-colour);
    margin: 0 .3rem;
}

.post_wrapper {
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: .35rem 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.post_wrapper:hover .post_wrapper_inner {
    border: 1px solid var(--border-hover-colour);
}

.post_wrapper_inner {
    flex-grow: 1;
    display: flex;
    border-radius: 4px;
    background: var(--component-bg-colour);
    border: 1px solid var(--component-bd-colour);
    transition: border .2s ease;
}

#post_list_create_bar_wrapper {
    padding-bottom: 1rem;
    width: 100%;
}

#post_list_create_bar_inner {
    border-radius: 4px;
    padding: .3rem .5rem;
    height: 48px;
    background: var(--component-bg-colour);
    border: 1px solid var(--component-bd-colour);
    display: flex;
    align-items: center;
}

#post_list_filter_bar_wrapper {
    padding-bottom: 1rem;
    width: 100%;
}

#post_list_filter_bar_icons_wrapper {
    display: flex;
}

.post_list_filter_bar_icon_wrapper:not(:last-of-type) {
    padding-right: 2rem;
}

.post_list_filter_bar_icon > a {
    background: transparent;
    border-radius: 50px;
    padding: .2rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .2s ease;
}

.post_list_filter_bar_icon > a:hover {
    background: #262626;
}

.post_list_filter_bar_iconbar_link > i {
    padding-right: .3rem;
}

.post_list_filter_bar_iconbar_link > span {
    font-weight: 500;
}

#post_list_filter_bar_inner {
    border-radius: 4px;
    padding: .3rem .5rem;
    height: 48px;
    background: var(--component-bg-colour);
    border: 1px solid var(--component-bd-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

#post_list_create_bar_logo {
    height: 38px;
    width: 38px;
    min-height: 38px;
    min-width: 38px;
    border-radius: 50%;
    background: var(--dark-logo-icon-bg-colour);
    border: 2px solid #343536;
    overflow: hidden;
}

#post_list_create_bar_input {
    height: 36px;
    background: var(--main-field-bg-colour);
    border: 1px solid var(--component-bd-colour);
    border-radius: 4px;
    outline: 1px solid transparent;
    padding: 0 .5rem;
    transition: outline .2s ease;
    flex-grow: 1;
    color: var(--secondary-icon-colour);
    display: flex;
    align-items: center;
    font-size: .9rem;
}

input, select {
    height: 36px;
    background: var(--main-field-bg-colour);
    border: 1px solid var(--component-bd-colour);
    border-radius: 4px;
    outline: 1px solid transparent;
    padding: 0 .75rem;
    transition: outline .2s ease;
    flex-grow: 1;
    color: var(--secondary-icon-colour);
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-family: inherit;
}

textarea {
    font-family: inherit;
    background: var(--main-field-bg-colour);
    border: 1px solid var(--component-bd-colour);
    border-radius: 4px;
    outline: 1px solid transparent;
    padding: .3rem .75rem;
    transition: outline .2s ease;
    flex-grow: 1;
    color: var(--secondary-icon-colour);
    display: flex;
    align-items: center;
    font-size: .9rem;
    resize: vertical;
    min-height: 150px;
}

#top_communities_wrapper {
    font-size: .8rem;
}

.generic_box_wrapper {
    padding: 0.3rem 0.5rem;
    background: var(--component-bg-colour);
    border: 1px solid var(--component-bd-colour);
    border-radius: 4px;
    margin-bottom: 1rem;
    transition: outline .2s ease;
    outline: 1px solid transparent;
    word-break: break-word;
}

.generic_box_wrapper:hover {
    outline: 1px solid var(--border-hover-colour);
}

#post_list_create_bar_input_wrapper {
    flex-grow: 1;
    display: flex;
    padding: 1rem;
}

#post_list_create_bar_input:hover {
    outline: 1px solid var(--border-hover-colour);
}

#post_list_create_bar_iconbar_wrapper {
    display: flex;
}

.post_list_create_bar_icon:not(:last-of-type) {
    padding-right: 1rem
}

.post_list_filter_bar_iconbar_link,
.post_list_create_bar_iconbar_link {
    color: var(--secondary-icon-colour);
    text-decoration: none;
    transition: color .2s ease;
}

#posts_content_inner {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
}

#posts_content_wrapper {
    min-width: fit-content;
    display: flex;
    justify-content: center;
}

#metrics_wrapper {
    padding: 1rem 0;
    flex-grow: 1;
    max-width: 25%;
    min-width: 225px;
}

#metrics_wrapper_inner {
    flex-grow: 1;
    padding-right: 1rem;
    height: 100%;
}

#notreddit_premium_text {
    font-size: .7rem;
}

#notreddit_premium_header {
    display: flex;
}

#notreddit_premium_text {
    display: flex;
    flex-direction: column;
}

#notreddit_premium_text_title {
    padding-bottom: .2rem;
    font-weight: 500;
}

#notreddit_premium_icon_wrapper {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-right: .5rem;
    color: var(--notreddit-orange);
}

#notreddit_premium_link_wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

#notreddit_premium_link {
    flex-grow: 1;
    font-size: .8rem;
}

.rounded_button_link {
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
    font-weight: 500;
}

#notreddit_premium_link > a {
    background: var(--notreddit-orange);
    color: var(--component-bg-colour);
}

#notreddit_premium_link > a:hover {
}

#notreddit_premium_inner {
    display: flex;
    flex-direction: column;
}

.top_communities_community_rank_wrapper {
    display: flex;
    align-items: center;
}

.top_communities_community_trend {
    color: #46d160;
    padding: 0 .7rem;
}

.top_communities_community_inner {
    display: flex;
    align-items: center;
    position: relative;
}

.rounded_button_link.community_join {
    padding: .2rem;
    background: var(--main-button-colour);
    color: var(--component-bg-colour);
    width: 3rem;
    transition: background .2s ease;
}

.community_join_button_wrapper {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.top_communities_community_wrapper {
    padding: .5rem 0;
}

.top_communities_community_wrapper:not(:last-of-type) {
    border-bottom: 1px solid var(--component-bd-colour)
}

.top_communities_community_name {
    cursor: pointer;
    transition: color .2s ease;
}

#notreddit_info_wrapper {
    font-size: .75rem;
}

#notreddit_info_inner {
    display: flex;
    flex-direction: column;
}

#notreddit_info_link_wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

#notreddit_info_link_wrapper > a {
    transition: color .2s ease;
    width: fit-content;
}

.votevar_counter {
    padding: .25rem 0;
}

.post_votebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_votebar_wrapper {
    padding: .3rem;
    background: var(--post-votebar-bg-colour);
    border-radius: 4px 0 0 4px;
}

.vote_button {
    transition: stroke .2s ease;
    width: 1.7rem;
}

.vote_button.upvote {
    stroke: #d7dadc;
    transform: rotate(-90deg) scaleY(-1);
}

.vote_button.downvote {
    stroke: #d7dadc;
    transform: rotate(90deg) scaleY(-1);
}

.vote_button.upvote:hover {
    stroke: var(--upvote-hover-colour);
}

.vote_button.downvote:hover {
    stroke: var(--downvote-hover-colour);
}

.post_actionbar_wrapper {
    font-size: .8rem;
    padding-top: .5rem;
    color: var(--post-detail-colour);
}

.post_actionbar_inner {
    display: flex;
}

.post_action i {
    padding-right: .5rem;
}

.post_action_wrapper {
    padding: .5rem;
}

.post_action {
    padding: .2rem .5rem;
    background: transparent;
    border-radius: 50px;
    transition: .2s ease;
    display: flex;
    align-items: center;
}

.post_action:hover {
    background: #262626;
}

.post_content {
    word-break: break-all;
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

.post_content:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background: linear-gradient(transparent 100px, var(--component-bg-colour)),
                linear-gradient(transparent 100px, var(--component-bg-colour));
}

.post_content_wrapper {
    display: flex;
    flex-direction: column;
}

#create_post_form_outer_wrapper {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    height: 100%;
    background: #000000c4;
}

#create_post_form_outer_wrapper.show {
    display: block;
}

#create_post_form_wrapper {
    background: var(--component-bg-colour);
    border: 1px solid var(--component-bd-colour);
    width: 50%;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    border-radius: 4px;
    position: relative;
}

#create_post_form {
    display: flex;
    flex-direction: column;
}

#create_post_form_header {
    display: flex;
    justify-content: flex-end;
    padding: .3rem;
    background: var(--component-bg-colour);
    border-bottom: 1px solid var(--component-bd-colour);
    border-radius: 4px 4px 0 0;
}

#create_post_form_footer {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: .3rem;
    align-items: center;
    border-top: 1px solid var(--component-bd-colour);
}

#create_post_form_close_wrapper {
    cursor: pointer;
    border-radius: 50%;
    padding: .5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .2s ease, background .2s ease;
}

#create_post_form_submit_wrapper {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_post_form_inner {
    padding: .5rem;
}

#create_post_form_close_wrapper:hover {
    color: var(--main-a-hover-colour);
    background: #262626;
}

.form_field_wrapper {
    display: flex;
    padding: .5rem 0;
}

.rounded_button_link.submit {
    padding: 0.5rem;
    background: #262626;
    width: 4rem;
    transition: color .2s ease;
    cursor: pointer;
    color: inherit;
    outline: none;
    border: none;
}

.rounded_button_link.submit:hover {
    color: var(--main-a-hover-colour);
}